/* Links */
a {
  text-decoration: none;
}

.file-link {
  width: auto;
  height: auto;
}

.light-link {
  color: var(--light-color) !important;
}

.black-link {
  color: var(--primary-color);
}

.active-link {
  cursor: pointer;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.link-underline {
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}

.active-link-secondary {
  cursor: pointer;
  color: var(--secondary-color);
}

.active-link-secondary:hover {
  color: rgba(243, 73, 23, 0.8);
}

.active-black-link {
  color: var(--primary-color) !important;
}
